/* navigation */
.menu {
    display: flex;
    justify-content: space-evenly;
    background-color: #562EFF;
    height: 94px;


}

.icon {
    margin-top: 33px;
}

.idea {
    text-decoration: none;
    color: #FFFFFF;

}

.menu-bar {
    display: flex;
    margin-top: 33px;


}




.site-name {
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 36px;

}

a .site-name {
    font-size: 16px;
    font-weight: 400;
}

.profile img {
    height: 51px;
    width: 51px;
}

/* common style  */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;



}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title {
    color: #562EFF;
    font-size: 24px;
    font-weight: 500px;
    margin-top: 3px;
}

.container {
    background-color: #FFFFFF;
    width: 870px;
    margin-top: 21px;
    padding: 30px;
    border-radius: 5px;
}

/* top style  */
hr {
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
    margin-bottom: 30px;
}

.player img {
    width: 56px;
    height: 56px;
}

.player {
    display: flex;
    align-items: center;
}

.name {
    margin-left: 16px;
    font-size: 18px;
}

/* ----Top Blog ---- */
.article-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.top-blog {
    display: flex;
    align-items: center;
}

.thumbnail img {
    width: 177px;
    height: 117px;
}

.blogs {
    margin-left: 16px;
}

.blog {

    font-size: 20px;
}

.author-name {
    font-size: 16px;
    color: #9F9F9F;

}

.author-name a {
    text-decoration: none;
    color: #562EFF;
}

/* latest course  */

.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
}

.course {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20.0336px;
    box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05);

    color: #1E1E1E;

}

.course .course-banner img {
    width: 224px;
    height: 104px;
}

.course-author a {
    color: #ED6B4F;
    text-decoration: none;

}

.course-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-star {
    font-size: 12px;
}

.fa-star.filled {
    color: #FFC014;
}

.fa-star.empty {
    color: #AEAEAE;
}

.course-duration {
    Width: 94.83px;
    Height: 29.38px;
    background-color: #FFE4E8;
    border-radius: 14.6913px;
    color: #FF4A60;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*--------------- Media Query --------------- */
/* mobile device */
@media only screen and (max-width:688px) {

    .menu {
        width: 100%;
        display: flex;
        flex-direction: column;
    }


    .profile img {
        margin-bottom: 80px;
    }

    .container {
        width: 100%;
    }

    .players,
    .article-item,
    .courses {
        grid-template-columns: repeat(1, 1fr);

    }

    .player,
    .top-blog,
    .course {
        flex-direction: column;

    }

}

/* Medium Device */
@media only screen and (max-width:991px) and (min-width:669px) {
    .container {
        width: 100%;
    }

    .players,
    .article-item,
    .courses {
        grid-template-columns: repeat(2, 1fr);

    }

}